 <!-- <h1>{{title}}</h1> -->
<!-- string interpolation ,any content consider as a string -->
<!-- <app-login></app-login>
<app-dashboard></app-dashboard> -->
<!-- <h2>{{2+2}}</h2>  -->
<!-- property binding -->
<!-- <img [src]="imageUrl"/> -->

<!-- with  string interpolation -->
 <!-- <br/>
 <img src="{{imageUrl}}"/>
 <br/> -->

 <!-- <button [disabled]="isDisable">Click </button>

 <br>
 <button disabled="{{isDisable}}">Submit</button>
 <hr/> -->
 <!-- area label use to read screen -->
 <!-- <button [attr.aria-label]="ariaLabelTxt">Attribute binding</button>
 <button>Without area label</button> -->

 <!-- <table [border]="1">Name
    <tr>
        <th>Name</th>
        <th>Age</th>
    </tr>

    <tr>
        <td>Nethmi</td>
        <td>23</td>
    </tr>

    <tr>
        <td>chamod</td>
        <td>20</td>
    </tr>

    <tr>
        <td>chathuranga</td>
        <td>23</td>
    </tr>

     <tr>
        <td [colSpan]="colSpan">sum of the ages : 66</td>
        
    </tr> 

    <tr>
        <td [attr.colspan]="colSpan">sum of the ages : 66</td>
        
    </tr>
 </table> -->

 <!-- Style binding -->
  <h3 [style.color]="color"
   [style.backgroundColor]="'beige'">{{title}}</h3>

   <!-- <hr/>
   class binding 
   <h3 [class.active]="isActive"
   [class.nonactive]="!isActive">{{title}}</h3>
   <p [style.color]="isActive? 'rgb(16, 72, 72)':'rgb(191, 250, 29)'">Paragraph text</p>

   <h5 [class.active] = "name=='nemo'"  [class.nonactive] = "name!='nemo'"  >Helloo Nemo</h5> -->
   

   <!-- event binding -->

   <button (click)="buttonClicked()" id="b1">Click me</button>
   <br/> 
   <br/>
   <input (keyup)="inputEvent($event)" />
    <br/>

  <input (keydown.enter)="KeyDownClicked()"/>
  <br/>

  <input (keydown)="keyPressed(inputRef)" #inputRef id="name"/>

  <h1>{{inputValue}}</h1>

  <!-- two way data binding -->

  <br><br>
  <input [(ngModel)]="twoWayVal"/>
<h1>{{twoWayVal}}</h1>

<h2>changes made</h2>
<h2>second one</h2>
